:root {
    --azul:#66A0F8;
    --vermelho:#DA1A1A;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 61px;
    background-color: var(--azul);
}

header img {
    position: absolute;
    top: 14px;
    horiz-align: center;
    left: calc(50vw - 50px);
}

.home {
    margin-left: 10px;
}

body {
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;

}

h1 {
    color: var(--azul);
}

.h1-menu {
text-align: center;
    margin-top: 30px;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: center;
}

a {
    text-decoration: none;
}

.bttred {
    border:none;
    background-color: var(--vermelho);
    color: white;
    padding: 7px;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
}

.bttblue {
    border:none;
    background-color: var(--azul);
    color: white;
    padding: 7px;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 10px;
    
}

.info-user{
    display: flex;
    flex-direction: row;
    justify-items: center;
    align-items: center;
    margin-right: 10px;
}

.info-user p {
    font-size: 18px;
    color: white;
}

/*============================ MENU DROPDOWN ===============================*/

.dropbtn {
    background-color: var(--azul);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a, .dropdown-p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-p {
      color: white;
      background-color: var(--azul);
  }

  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #f1f1f1}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color: var(--azul);
  }

  .cards {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      width: 600px;
      gap: 30px;
      margin-top: 30px;
}

.card p {
    margin-top: 20px;
    color: #000;
}

    .card {
        background-color: white;
        box-shadow: 2px 2px 2px #0002;
        padding: 10px;
        border-radius: 8px;
        padding-top: 40px;
        padding-bottom: 20px;
        text-align: center;

}
    .card:hover {
        box-shadow: 4px 4px 4px #0003;
        transition: 0.3s;
    }

    .card img {
    width: 30%;
    border-radius: 8px 8px 0 0;

}

/*=============================== FORMUL�RIO ===============================*/

form {
margin-top: 20px;
width: 100%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

form h1 {
    color: var(--azul);
    margin-bottom: 15px;
}

form table {
    display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

form .bttblue {
    margin-top: 15px;
    margin-left: 305px;
    margin-bottom: 50px;
}

.label-select {
    font-size: 1rem;
    color: #9b9b9b;
    width: 400px;
    font-family: inherit;
    padding: 15px 0;
}

.form__group {
    position: relative;
    padding: 15px 0 0;
    margin-top: 10px;
    width: 50%;
}
.form__field {
    margin-bottom: 5px;
    font-family: inherit;
    width: 400px;
    border: 0;
    border-bottom: 2px solid #9b9b9b;
    outline: 0;
    font-size: 1.0rem;
    color: #000;
    padding: 5px 0;
    background: transparent;
    transition: border-color 0.2s;
}
.form__field::placeholder {
    color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
    font-size: 1.0rem;
    cursor: text;
    top: 20px;
}
.form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: #9b9b9b;
}
.form__field:focus {
    padding-bottom: 6px;
    font-weight: 400;
    border-width: 3px;
    border-color: var(--azul);
}
.form__field:focus ~ .form__label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 0.9rem;
    color: var(--azul);
    font-weight: 700;
}
/* reset input */
.form__field:required, .form__field:invalid {
    box-shadow: none;
}

.consulta {
    background-color: white;
    border-radius: 4px;
    box-shadow: 2px 2px 2px #0002;
    padding: 10px;

}

/*=============================== Login ===============================*/

.form_login  {
    width: 500px;
    padding: 60px 20px;
    border-radius: 20px;
    background-color: #f0f0f5;
    margin: 0;
    margin-bottom: 20px;
}


.login_body {
    background-image: url(https://images.unsplash.com/photo-1566073771259-6a8506099945?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    top: 0;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.login_body a {
    color: var(--azul);
}

/*=============================== Menu Reserva ===============================*/

.reserva-check {
    text-align: center;
}

.reserva-check .cards {
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
}

/*=============================== Tabelas ===============================*/

#tabela {

    width: 60%;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
    min-width: 850px;

}

#tabela th, #tabela td{
    padding: 12px 5px;
    text-align: left;
    border: none;

}

#tabela tbody tr:hover {
    background-color: #edf5ff;
}

#tabela .edicao{
    width: 105px;
}

#tabela thead {
    background-color: var(--azul);
    color: white;
}

#tabela .bttred, #tabela .bttblue {
    padding: 7px 11px;
    margin: 2px;
}

/* tabela quartos */

#tabela-quartos {
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: white;
}

#tabela-quartos  th, #tabela-quartos  td{
    padding: 12px 5px;
    text-align: left;
    border: none;
    width: 200px;
}

#tabela-quartos .imagem-quarto {
    width: 200px;
    height: 100px;
}

#tabela-quartos .id-table {
    width: 80px;
    text-align: center;
}

#tabela-quartos td img {
    width: 100%;
    height: auto;
}

#tabela-quartos  tbody tr:hover {
    background-color: #edf5ff;
}

#tabela-quartos  .selecionar-quarto {
    width: 80px;
    text-align: center;
}

#tabela-quartos h3 {
    color: var(--azul);
}

#tabela-quartos  thead {
    background-color: var(--azul);
    color: white;
}

#tabela-quartos  .bttred, #tabela .bttblue {
    padding: 7px 11px;
    margin: 2px;
}


.centralizar {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.centralizar h1 {
    margin-top: 20px;
}

.centralizar .erro {
    margin: 20px;
    color: #a71d1d;
    background-color: #ffb0b0;
    padding: 10px;
    border-radius: 4px;
}

.centralizar .sucesso {
    margin: 20px;
    color: #328b19;
    background-color: #c9ffbf;
    padding: 10px;
    border-radius: 4px;


}

